html, body {
    margin: 0;
    padding: 0;
    text-align: center;
    box-sizing: border-box;
}


.from-to{
    width: 152.85px;
    height: 40px;
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    line-height: 18.15px;
    text-align: center;
    color: #8F8F8F;
    background: #444059;
    border: none;
}

button{
    width: 317px;
    height: 61px;
    border-radius: 8px;
    margin: 4px auto;
    background: #28A9F1;
    font-size: larger;
}

li{
    list-style: none;
    text-align: left;
}

.bold{
    font-weight: bold;
    padding: 4px 0;
}

 /* mobile view */
@media (max-width: 480px) {
    img{
        width: 90px;
        height: 90px;
    }
    .container{
        max-width: 390px;
        height: 844px;
        margin: auto;
        background: #1B1924;
        color: #FFFFFF;
    }

    .endorsements{
        width: 317px;
        margin: 4px auto;
        background: #FFFFFF;
        color: #1B1924;
        padding: 2px 2px;
    }

    textarea{
        color: #8F8F8F;
        background: #444059;
        margin: 10px;
    }
}

/* tablet and bigger screen view */
@media (min-width: 481px) {
    img{
        margin: 10px;
        width: 85%;
        height: auto;
    }
    .container{
        width: 100%;
        height: 100vh;
        margin: auto;
        background: #1B1924;
        color: #FFFFFF;
        display: flex;
    }

    .endorsements{
        width: 80%;
        margin: 4px auto;
        background: #FFFFFF;
        color: #1B1924;
        padding: 2px 2px;
        border-radius: 16px;
    }

    textarea{
        color: #8F8F8F;
        background: #444059;
        margin: 10px;
        width: 50vb;
    }
}